input[type="radio"] {
  display: none;
}
label {
  display: inline-block;
  cursor: pointer;
  width: 120px;
  height: 25px;
  border: 2px solid blue;
  margin: 0;
  margin-left: -5px;
  text-align: center;
  padding-top: 5px;
  color: white;
  font-weight: bold;
  background-color: rgb(29, 139, 202);
}
input[type="radio"]:checked + label {
  background-color: blue;
}