input[type="radio"] {
  display: none;
}
label {
  display: inline-block;
  cursor: pointer;
  width: 112px;
  height: 24px;
  border: 2px solid #005BAA;
  margin: 0;
  margin-left: -5px;
  text-align: center;
  padding-top: 6px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  background-color: rgba(0,102,204, 0.5);
}
label:first-of-type {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: none;
}
label:last-of-type {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left-width: 1px;
}
input[type="radio"]:checked + label {
  background-color: #0066CC;
}
